@import "../../../../../../admin-module/public/css/midnight/admin-module/imports";

.edit-page {
    .blocks {
        $border-color: #d3d3d3;
        @include list-killer;
        border: solid 1px $border-color;
        border-radius: .2em;
        background-color: white;
        & > li {
            padding: lh(.5);
            border-top: solid 1px $border-color;
            clear: right;
            overflow: hidden;
            cursor: default;
            &:first-child {
                border-top: none;
            }
            &:hover {
                background-color: rgba(0, 0, 0, .05);
            }
        }
        ul.options {
            @include list-killer;
            float: right;
            display: flex;
            padding-left: lh(1);
            padding-bottom: lh(1);
            & > li {
                margin-left: lh(.5);
            }
            a {
                @include button-small;
                &.delete {
                    @include button-danger;
                }
            }
        }
    }
}

.midnight-cms-block {
    position: relative;
    outline-offset: .2em;
    &, * {
        cursor: default;
    }
    &.active {
        &:hover {
            outline: none;
        }
        &, * {
            cursor: inherit;
        }
        ul.options {
            display: flex;
        }
    }
    &:hover {
        outline: solid 3px rgba(0, 0, 0, .1);
    }
    ul.options {
        @include list-killer;
        position: absolute;
        top: lh(.1);
        right: lh(.1);
        display: none;
        z-index: 10;
        padding: 0;
        & > li {
            margin-left: lh(.5);
        }
        a {
            @include button-small;
            &.delete {
                @include button-danger;
            }
        }
    }
}

.add-block-inline {
    $size: 1cm;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #d3d3d3;
    text-indent: -9999px;
    text-align: center;
    z-index: 10;
    display: none;
    border: solid 2px rgba(0, 0, 0, .1);
    font-weight: bold;
    &:before {
        content: '+';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-indent: 0;
        width: 100%;
        height: 100%;
        font-size: $size*.75;
        line-height: $size*.9;
        color: #808080;
    }
    &.active {
        display: block;
    }
}

.create-block {
    border: solid 1px #d3d3d3;
    border-radius: .2rem;
    padding: .75rem;
    h1 {
        display: none;
    }
    ul {
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
    }
    li {
        display: flex;
        margin-right: .75rem;
    }
    a {
        @include button;
        //        display: block;
        padding: .75rem;
        text-decoration: inherit;
        &:visited {
            color: inherit;
        }
    }
}
